<a href="https://colab.research.google.com/github/abulhassan-m/sassBuilder/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#dict
# it is ordered
# duplicate keys are not allowed
# duplicate values allowed
# dict values can accsess by keys

In [ ]:
d = {"name":"kirubha","age":25,"salary":50000}

In [ ]:
print(d)

{'name': 'kirubha', 'age': 25, 'salary': 50000}

In [ ]:
type(d)

dict

In [ ]:
print(d["name"])

kirubha

In [ ]:
print(d["salary"])

50000

In [ ]:
emp = {"empid":[1,2,3,4,5],
       "name":["ashwin","sakthi","sangeetha","kamala","thiru"],
       "age":[25,30,35,40,35],
       "designation":["GM","ASS.M","DEVELOPER","DATASCIENTIST","HR"]}

In [ ]:
print(emp)

{'empid': [1, 2, 3, 4, 5], 'name': ['ashwin', 'sakthi', 'sangeetha', 'kamala', 'thiru'], 'age': [25, 30, 35, 40, 35], 'designation': ['GM', 'ASS.M', 'DEVELOPER', 'DATASCIENTIST', 'HR']}

In [ ]:
# list
a = ["guvi","data science","python"]

In [ ]:
a[1][5]

's'

In [ ]:
emp["empid"]

[1, 2, 3, 4, 5]

In [ ]:
id = int(input("enter the employee id : "))
pos = emp["empid"].index(id)
print("empid : ",emp["empid"][pos])
print("name : ",emp["name"][pos])
print("age : ",emp["age"][pos])
print("designation : ",emp["designation"][pos])

empid :  2
name :  sakthi
age :  30
designation :  ASS.M

In [ ]:
id = int(input("enter the employee id : "))

In [ ]:
a = [1,2,3]

In [ ]:
a.index(3)

2

In [ ]:
pos = emp["empid"].index(id)

In [ ]:
print(pos)

1

In [ ]:
id = int(input("enter the employee id : "))
pos = emp["empid"].index(id)
print("empid : ",emp["empid"][pos])
print("name : ",emp["name"][pos])
print("age : ",emp["age"][pos])
print("designation : ",emp["designation"][pos])

enter the employee id : 5
empid :  5
name :  thiru
age :  35
designation :  HR

In [ ]:
# conditional statements
# if , elif,else
#

In [ ]:
cutoff = int(input("enter the cutoff : "))

enter the cutoff : 190

In [ ]:
cutoff = int(input("enter the cutoff : "))

if cutoff>=190:
  print("ELGIBLE FOR MEDICAL ADMISSION")

else:
  print("NOT ELGIBLE FOR MEDICAL ADMISSION")

enter the cutoff : 190
ELGIBLE FOR MEDICAL ADMISSION

In [ ]:
# 190 - 200 -MAD
#175 -- 189 -- ENG AD
# 150 -- 174  -- ELGIBLE FOR ARTS ADMISSION

In [ ]:
cutoff = int(input("enter the cutoff : "))

if cutoff>=190 and cutoff<=200:
  print("ELGIBLE FOR MEDICAL ADMISSION")

elif cutoff>=175 and cutoff<=189:
  print("ELGIBLE FOR ENGINEERING ADMISSION")

elif cutoff>=150 and cutoff<=174:
  print("ELGIBLE FOR ARTS ADMISSION")

else:
  print("INVALID CUTOFF")

enter the cutoff : 140
INVALID CUTOFF

In [ ]:
# LOOPS
# IT IS CALLED AS CONTROL FLOW STATEMENT,IT ALLOWS TO EXECUTE A BLOCK OF CODES/RESULTS REPEDEDTLY , IT WILL USE ITERATION
# ITERATION - THE PROCESS OF ACHIEVING A TARGET BY A SUCCESSIVE ATTEMPTS
# for, while

In [ ]:
A = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
print(A)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# A 1 --- 10
for i in A:#1
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
A = [10,20,30,40,50]

In [ ]:
# 30
# 60
# 90
# 120
# 150

In [ ]:
for j in A:
  print(j*3)

30
60
90
120
150

In [ ]:
# for loop with range function
# for i in range(start,stop-1,skip):  ## range function
# s -- 0
# stop -- user defined
# skip -- 1

In [ ]:
# 5 -- 30 -- 5
for i in range(5,31,5):#
  print(i)

5
10
15
20
25
30

In [ ]:
# 2 20 2 4 6 8 10

In [ ]:
for i in range(2,21,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for i in range(1,11):
   print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# while loop

In [ ]:
# 1 to 10

In [ ]:
i = 1
while i<=10:#1<=10 -- false -- it will come out of loop and stop
  print(i) # 10
  i = i+1# i = 11

1
2
3
4
5
6
7
8
9
10

In [ ]:
# FUNCTION
# A SET OF BLOCK OF CODES CREATED BY USER , IT WILL EXECUTE WHENEVER WE CALL

In [ ]:
X = [1,2,3,4,5]

In [ ]:
def total(x):# def funcname(arguments):
  t = 0
  for i in X:
    t = t+i
  print(t)

In [ ]:
total(X)

15